demo.stadediamono.sn {
	reverse_proxy diamono-web:8080 {
		header_up X-Forwarded-Proto {scheme}
		header_up X-Forwarded-Host {host}
		header_up X-Forwarded-For {remote_host}
		transport http {
			read_timeout 120s
			write_timeout 120s
		}
	}

	header {
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
	}
}
